<!-- your html code here -->
<div class="container mt-5">
    <div class="row">
      <h5 class="title">Contact</h5>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sit fuga asperiores dignissimos, accusantium, quae ratione impedit, 
        debitis quod voluptatibus ullam quisquam doloremque. Aliquam ducimus repellat quia aspernatur quam aliquid velit.</p>
      <p class="text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
    
    <div class="container d-flex justify-content-center">
        <div class="card p-2 bg-light col-7">
            <div>
                <label for="exampleFormControlInput1" class="form-label solid">Your E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</div>    