<!-- your html code here -->

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h5 class="card-title">Porfolio</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, 
                nihil perferendis. Iusto architecto, animi tempora fugit fuga assumenda explicabo 
                distinctio dolores, voluptate, pariatur quibusdam. Ratione odio doloremque blanditiis. Nemo, neque.</p>
        </div>
    </div>
   
        <div class="row d-flex justify-content-around">
            <div class="mb-3 col-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top mb-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam 
                    distinctio accusantium. Repellat, commodi molestias necessitatibus quia blanditiis odit 
                    temporibus quos, nobis autem est, quisquam esse! Natus nostrum impedit veniam?</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="mb-3 col-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top mb-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi qui 
                    assumenda magni itaque impedit corporis iusto repudiandae molestiae libero pariatur! 
                    Neque eius, quibusdam sunt dolore suscipit earum possimus reprehenderit blanditiis?</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="mb-3 col-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top mb-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem 
                    quis dolorum voluptates consectetur dolore nemo assumenda a, ratione eius saepe iusto 
                    possimus porro dicta! Omnis deserunt dolorum quaerat dolorem!</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
   
</div>

